# Exclude all PNG files by default
*.png

# Re-include the specific PNG file used in the app
!2_3_example.png
!screenshot.png

# Exclude all PDF files
*.pdf

# Exclude all doc files
**/doc/*.pdf

# Exclude all pem files
*.pem

__pycache__/
example_2_3.svg
example_2_3_new.svg
.gitignore.swp